* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Padauk", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #574b90;
}

.container {
  margin-left: auto;
  margin-right: auto;

  background: url("2.jpg") no-repeat 0 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  height: 110vh;
  width: 100%;
}

.nav {
  height: 100px;
  width: 100%;
}
.menu_items {
  display: flex;
}
.menu_list {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.menu_list > li {
  display: flex;
  color: #fff;
}
.menu_list > li > a {
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;

  padding: 1.2rem;
}
.menu_list > li > a:hover {
  font-weight: bold;
}
.text_overley {
  color: black;
  position: absolute;
  bottom: 40%;
  text-align: center;
  width: 100%;
  right: 5px;
}
.over_text {
  text-align: center;
}

.btn {
  padding: 0.6rem;
  background: #0000;
  border: 2px solid black;
  border-radius: 10px;

  color: black;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  background: transparent;
  padding: 0.7rem;
  color: #000;
}

#about {
  color: #fff;
  background: url("1.jpg") no-repeat 0 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  height: 110vh;
  width: 100%;
}

.container_fluid {
  display: flex;
  margin: auto 50px;
}
.text_about {
  padding: 1.5rem;
  margin-left: 2rem;
}

.text_box {
  box-shadow: 2px 2px 2px 1px black;
  margin-right: 30px;
}

.box {
  margin: auto 10px;
}

.image_container {
  margin: 40px 50px;
  display: flex;
  justify-content: space-evenly;
}
.img_img {
  width: 50%;
  float: right;
}
.line {
  height: 1px;
  width: 80%;
  background-color: black;
  padding: 100px auto;
  margin: 100px auto;
}

.service {
  
  color: black;
  padding: 20 50px;
  background: url("3.jpg") no-repeat 0 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  height: 120vh;
  width: 100%;
}
.text_section {
  text-align: center;
}
.service_container {
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  flex: 3;
}
.img_service {
  margin: auto;
}
.img_service > img {
  height: 300px;
  width: 300px;
}

.img_service > h4 {
  text-align: center;
  font-size: 1.5rem;
}
.contact {
  background: url("4.jpg") no-repeat 0 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .contact {
    height: 150vh;
  }
}
