* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Padauk", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #574b90;
}

.container {
  margin-left: auto;
  margin-right: auto;

  background: url("2.jpg") no-repeat 0 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  height: 110vh;
  width: 100%;
}

.nav {
  height: 100px;
  width: 100%;
}
.menu_items {
  display: flex;
}
.menu_list {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.menu_list > li {
  display: flex;
  color: #fff;
}
.menu_list > li > a {
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  margin-left: 25px;
}
.menu_list > li > a:hover {
  font-weight: bold;
}
.text_overley {
  color: black;
  position: absolute;
  bottom: 40%;
  text-align: center;
  width: 100%;
  right: 5px;
  font-size: 1.5rem;
}
.over_text {
  text-align: center;
}

.btn {
  padding: 0.4rem;
  background: #000;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  background: #000;
  color: #fff;
}
.main_text {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
#about {
  color: #fff;
}

.container_fluid {
  display: flex;
  margin: auto 10px;
}
.text_about {
  padding: 1.5rem;
  margin-left: 2rem;
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
}

.text_box {
  box-shadow: 2px 2px 2px 1px black;
  margin-right: 30px;
  padding: 20px;
}
.text_box > h3 {
  text-align: center;
}

.box {
  width: 80%;
  margin: auto;
}

.image_container {
  margin: 40px 50px;
  display: flex;
  justify-content: space-evenly;
}
.img_img {
  width: 50%;
  float: right;
}
.line {
  height: 1px;
  width: 80%;
  background-color: black;
  padding: auto;
  margin: 50px auto;
}
.mains_text {
  margin-bottom: 10px;
  font-size: 1.8rem;
}
.service {
  color: #fff;

  width: 100%;
}
.text_section {
  text-align: center;
  font-size: 1.9rem;
}
.service_container {
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  flex: 3;
  align-items: center;
  justify-content: center;
}
.img_service {
  margin: auto;
  padding: 20px;
}
.img_service > img {
  height: 300px;
  width: 300px;
}

.img_service > h4 {
  text-align: center;
  font-size: 1.5rem;
}
.contact {
  text-align: center;
  color: #fff;
}

.form {
  width: 50%;
  height: auto;
  box-shadow: -1px -1px 1px 1px black;
  padding: 20px;
  margin: auto;
  position: relative;
}
.form_text {
  font-size: 20px;
}
.fields {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.fields > span {
  color: red;
}
.form_control {
  /* position: relative;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  width: 80%; */
  width: 80%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  color: #fff;
}
#message {
  resize: none;
}

#btn_contact {
  background-color: #3f1b81;
  margin-top: 25px;
  height: 40px;
  width: 80%;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 2px 1px black;
  cursor: pointer;
  font-weight: 200;
  color: #fff;
}
#btn_contact:hover {
  background-color: #000;
  color: #fff;
  box-shadow: none;
  font-weight: 100;
}
.footer {
  height: 80px;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .menu_list > li > a {
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin-left: 15px;
  }
  .img_service {
    margin: auto 40px;
    padding: 10px;
  }
  .img_service > img {
    height: 200px;
    width: 200px;
    margin: auto;
  }
  .box,
  .text_box,
  .main_text,
  .mains_text {
    font-size: 0.9rem;
    line-height: 1;
  }
  .form_control {
    width: 220px;
  }
  .form {
    width: 70%;
    height: auto;
    border: 1px solid black;
    padding: 20px;
    margin: auto;
  }
}
